<div class="row"> 
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3 style="font-size: 40px;">101<sup style="font-size: 20px"></sup></h3>
        <p style="font-size: 18px; margin-bottom: 5px;">Tipo: ... </p>
        <p style="font-size: 18px; margin-bottom: 5px;">Precio: <strong style="font-size: 20px;"> ...
          </strong></p>
        <p style="font-size: 18px;">N° Camas: ...</p>
      </div>
      <div class="icon">
        <i class="fa fa-bed" style="font-size: 60px;"></i>
      </div>
      <a href="#" class="small-box-footer" style="font-size: 18px;">
        Alquilar <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
</div>